// src/utilities/_misc.scss

.cursor-pointer { cursor: pointer !important; }
.cursor-default { cursor: default !important; }

.overflow-auto { overflow: auto !important; }
.overflow-hidden { overflow: hidden !important; }
.overflow-scroll { overflow: scroll !important; }

.visible { visibility: visible !important; }
.invisible { visibility: hidden !important; }
