// src/utilities/_typography.scss
@use '../themes/variables' as vars;
@use 'sass:map';

body {
  font-family: map.get(vars.$fonts, "base");
  font-size: map.get(vars.$font-sizes, "base");
  line-height: 1.6;
  color: map.get(vars.$colors, "dark");
}

h1, h2, h3, h4, h5, h6 {
  font-family: map.get(vars.$fonts, "heading");
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h1 { font-size: map.get(vars.$font-sizes, "5xl"); }
h2 { font-size: map.get(vars.$font-sizes, "4xl"); }
h3 { font-size: map.get(vars.$font-sizes, "3xl"); }
h4 { font-size: map.get(vars.$font-sizes, "2xl"); }
h5 { font-size: map.get(vars.$font-sizes, "xl"); }
h6 { font-size: map.get(vars.$font-sizes, "lg"); }

p {
  margin-bottom: 1rem;
}


.text-xs { font-size: map.get(vars.$font-sizes, "xs") !important; }
.text-sm { font-size: map.get(vars.$font-sizes, "sm") !important; }
.text-base { font-size: map.get(vars.$font-sizes, "base") !important; }
.text-lg { font-size: map.get(vars.$font-sizes, "lg") !important; }
.text-xl { font-size: map.get(vars.$font-sizes, "xl") !important; }
.text-2xl { font-size: map.get(vars.$font-sizes, "2xl") !important; }
.text-3xl { font-size: map.get(vars.$font-sizes, "3xl") !important; }
.text-4xl { font-size: map.get(vars.$font-sizes, "4xl") !important; }
.text-5xl { font-size: map.get(vars.$font-sizes, "5xl") !important; }

.text-primary { color: map.get(vars.$colors, "primary") !important; }
.text-secondary { color: map.get(vars.$colors, "secondary") !important; }
.text-success { color: map.get(vars.$colors, "success") !important; }
.text-danger { color: map.get(vars.$colors, "danger") !important; }
.text-warning { color: map.get(vars.$colors, "warning") !important; }
.text-info { color: map.get(vars.$colors, "info") !important; }
.text-light { color: map.get(vars.$colors, "light") !important; }
.text-dark { color: map.get(vars.$colors, "dark") !important; }
